.formInputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
        font-family: 'Manrope';
        color: var(--color-primary);
    }

    input {
        font-family: 'Manrope';
        color: var(--color-primary);
        padding: 15px 0 15px 0;
        margin: 10px 0 10px 0;
        min-width: 175px;
        background-color: var(--color-background);
        border-radius: 10px;
        border: none;
        text-align: center;
        backdrop-filter: blur(15px);
        cursor: pointer;
    }

    input[type="time"]::-webkit-calendar-picker-indicator {
        margin-right: 15px;
   }
}