@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-background: rgba(255, 255, 255, 0.45);
  --color-primary: #000000ad;
}
