@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-border: rgba(255, 255, 255, .25);
  --color-background: rgba(255, 255, 255, 0.45);
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-primary: #000000ad;
  --color-secondary: #ffffff;
  --color-button: #A020F0;
}
